{% extends 'home/starter.html' %}
{% load static %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="{% static "home/css/home.css"%}">
{% endblock %}

{% block body %}

<div id="home_wrappaer" class="fc ac">
    <div id="stories" class="fr ac v_cent h_cent">
        {% for c in contracts %}
        <div class="live_nodes">
            <div class="live_img">
                {% if c.poster %}
                <img src="{{c.poster.url}}"/>
                {% else %}
                <img src="{% static 'images/default/16Default.png'%}"></img>
                {% endif %}
                </div>
        </div>
        {% endfor %}
    </div>
    <div id="new_contracts" class="fc v_cent h_cent">
    {% for c in contracts %}
    <div id="contract_{{c.pk}}" class="one_contract fc">
        <div class="profile_head" class="fr">
            <div class="profile_img">
                {% if c.poster %}
                <img src="{{c.poster.url}}"/>
                {% else %}
                <img src="{% static 'images/default/16Default.png'%}"></img>
                {% endif %}
            </div>
            <h4>
            {{c.title}}
            </h4>
        </div>
        <div class="main_img">
            <div class="poster_img">
            {% if c.poster %}
            <img src="{{c.poster.url}}"/>
            {% else %}
            <img src="{% static 'images/default/16Default.png'%}"></img>
            {% endif %}
            </div>
        </div>
        
        <div class="description">
            {{c.hash}}
            <p>{{c.short_description}}</p>
            <div class="comments">
            <p style="margin-bottom:2px"><b>Likes in bytes:</b>
            <b class="api_storage_size"></b> /
            <b class="api_storage_paid"></b></p>
            <p style="margin-top:0px"> a.k.a: <i>storage size / storage paid</i></p>
        </div>
            <div class="last_updated_c">
                <p>&#129517 <i> updated </i> @ <i class="api_updated"></i></p>
                <!-- <p>&#129517 <i> created </i> @ <i class="api_created"></i></p> -->
            </div>
        </div>
    </div>
    {% endfor %}
    </div>


</div>

{% endblock %}

{% block script %}
<script src="{%static 'lib/eztz.min.js'%}"}></script>
<script src="{% static 'home/js/viewContracts.js' %}"}></script>
{% endblock %}