{% extends 'home/starter.html' %}
{% load static %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="{% static "home/css/home.css"%}">
{% endblock %}

{% block body %}

<div class="fc ac">
    <div id="stories" class="fr v_cent h_cent">
    </div>
    <div id="new_contracts" class="fr v_cent h_cent">
    </div>


</div>

{% endblock %}

{% block script %}
<script src="{%static 'lib/eztz.min.js'%}"}></script>
<script src="{% static 'home/js/viewContracts.js' %}"}></script>
{% endblock %}