{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta name='viewport' content='initial-scale=1, viewport-fit=cover' />
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

        <script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>

        <link rel="stylesheet" href="{% static 'home/css/starter.css' %}">


    {% block head %}
    {% endblock %}

    </head>

    <body>
    <div id="web_wrapper" class="fc">
    <div id="navigator" class="fr">
        <div><h2><a href="{% url 'home' %}">
        Ivonne</a></h2>
        </div>
        <div>
            <input id="search_cat" type="text" placeholder="&#128269; Search Contract">
            </input>
        </div>
        <div class="toggle_icons">
            <button id="home" onClick="window.location='{% url 'home' %}'">&#127968
            </button>
            <button id="chat" onClick="window.location='{% url 'addContract' %}'">&#128172
            </button>
            <button id="calendar"> &#129517
            </button>
            <button id="love"> &#10084&#65039
            </button>
            <button id="run">&#127939
            </button>
        </div>

    </div>
        <div>
        {% block body %}
        {% endblock %}
        </div>
    <div>

    {% block script %}
    {% endblock %}

    </body>

</html>
