#profile_wrapper{
    width:70%;
}

#prof_head{
    padding-bottom:40px;
    border-bottom:2px solid #dbdbdb;
    justify-content:space-between;
}


#prof_title{
    margin-left:auto;
    min-width:300px;
    margin-left: 30px;

}

.profile_img{
    height:140px;
    width:140px;
    border-radius:100px;
    overflow:hidden;
}



.profile_img img{
    height:106%;
    width:auto;

}

#posts{
    max-width:600px;
    flex-wrap:wrap;
}

.post_btn{
    width:170px;
    height:170px;
    background-color:#dbdbdb;
    
}

button{
    border-radius:3px;
}